body {
    font-family: sans-serif;
}
header{
        background-color:#03899C;
        padding:40px 55px 40px 55px ;
}

h1{
    background-color: #03899C;
  color: #C4F66F;
}
h2{
    background-color: #03899C;
     color: #C4F66F;
}
footer{
    background-color: #03899C;
     color: #C4F66F;
     text-align: center;
}
